{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{form(formulario)}}
    <div>
        <a href="javascript:history.back()">Cancelar</a>
    </div>
{% endblock %}
