{% extends 'base.html.twig' %}

{% block title %}Hello CreatorDashboardController!{% endblock %}

{% block body %}
    {% if listaCursos and listaCursos|length >0 %}
        <table class="table"> 
            <thead >
                <tr>
                    <th >ID</th>
                    <th>TITULO</th>
                    <th>DESCRIPCION</th>
                    <th>ESTADO</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
        {% for curso in listaCursos %}
            <tr>
                    <td>{{curso.id}}</td>
                    <td>{{curso.nombre}}</td>
                    <td>{{curso.descripcion}}</td>
                    <td>{{curso.estado}}</td>
                    <td>
                        <a class="btn btn-warning" href="{{path('app_creator_dashboard_edit', {'id' : curso.id})}}">Editar</a>
                        <a class="btn btn-danger" href="{{path('app_creator_dashboard_delete', {'id' : curso.id})}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
         </table>
    {% else %}
        <p>No existen cursos registrados</p>
    {% endif %}
        <a class="btn btn-primary" href="{{path('app_creator_dashboard_register')}}">Agregar curso</a>
        <a href="{{path('app_logout')}}">Cerrar sesion</a>
{% endblock %}
